body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #ffffff;
    font-family: Arial, sans-serif;
    font-size: 13px;
}

.banniere {
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
}

.contenu {
    margin-left: 240px;
    text-align: center;
    padding: 10px 20px;
}

.logo {
    width: 120px;
    display: block;
    margin: 20px auto;
}

h1 {
    color: #d4af37;
    font-size: 2.3rem;
    margin-bottom: 10px;
}

h2 {
    color: #d4af37;
    font-size: 1.2rem;
    margin-top: 30px;
    margin-bottom: 20px;
}

.slogan {
    font-size: 1.2rem;
    color: #ffffff;
    font-style: italic;
}
.presentation,


.services {
    max-width: 1000px;
    margin: 50px auto;
    padding: 20px;
}
.services {
    scroll-margin-top: 120px;
}

.presentation p {
    text-align: justify;
    line-height: 1.8;
}


.service {
    max-width: 900px;
    margin: 30px auto;
    text-align: left;
    color: white;
}

.service h3 {
    color: #d4af37;
    margin-bottom: 10px;
}

.service p {
    color: white;
}

.navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 220px;
    height: 100vh;
    background-color: #111;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    z-index: 1000;
}

.navbar a {
    color: #d4af37;
    text-decoration: none;
    padding: 15px 25px;
    font-weight: bold;
    font-size: 15px;
}

.navbar a:hover {
    color: white;
}
.parcours {
    max-width: 1000px;
    margin: 150px auto 200px auto;
    padding: 20px;
}

.ouvrages {
    width: 125px;
    height: auto;
    border-radius: 10px;
    margin: 20px auto;
    display: block;
}
.contact {
    max-width: 800px;
    margin: 60px auto;
    padding: 20px;
}

.contact h2 {
    color: #d4af37;
    margin-bottom: 20px;
}

.contact p {
    margin-bottom: 15px;
}
summary {
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: bold;
    color: #d4af37;
    text-align: center;
    padding: 10px;
}

details[open] summary {
    margin-bottom: 20px;
}

.service ul {
    display: inline-block;
    text-align: left;
    margin: 15px auto;
    line-height: 1.8;
}

.service p {
    text-align: left;
    line-height: 1.8;
}
.service h4 {
    color: #d4af37;
    margin-top: 25px;
    text-align: left;
}
.service p {
    max-width: 700px;
    margin: 15px auto;
}

.liste-correction {
    text-align: left;
    max-width: 400px;
    margin: 0 auto;
    line-height: 1.8;
}
#accueil,
#services,
#ouvrages,
#contact {
    scroll-margin-top: 150px;
}




